.HomeViewport {
    top: 100px;
    width: 100%;
}

.HomeContainer {
    position: relative;
    top: 100px;

    width: 100%;
}

.HomeContent {
    top: 0px;
    width: 100%;

}

.HorizontalBox {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 1026px)
    {
        flex-direction: column;
    }
}

.VerticalBox {
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.BoxItem {
    width: 100%;

    padding: 10px;
}

.BoxItemContainer {
    width: 100%;
    height: 100%;

    padding: 10px;

    border: 1px solid var(--sec);
    border-radius: 5px;

    backdrop-filter: blur(10px);
    background-color: var(--pri);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Links {
    margin: 10px;

    height: 100%;

    backdrop-filter: blur(10px);
    background-color: rgba(10, 10, 10, 0.5);

    color: white;
}


.home-page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-container {
    margin-top: -100px;
    width: 700px;
    height: 400px;

    display: flex;
    flex-direction: row;

    backdrop-filter: blur(25px);
    background-color: rgba(10, 10, 10, 0.8);

    object-fit: cover;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;

        margin-top: -20%;
        width: 100%;
        height: 60%;

        object-fit: none;

    }
}

.card-description {
    height: 200px;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    overflow: hidden;
    justify-items: stretch;
    margin: 0;

    @media only screen and (max-width: 600px) {
        align-items: center;
    }
}

.roles {
    display: flex;
    align-items: center;
}

.HeadShotContainer {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 25%;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--sec);
    border-radius: 100%;
}

.Headshot {
    width: 100%;
    clip-path: circle();
}

#he{
    font-family: 'Savery' !important;
    font-size: larger;
}

.Icon{
    padding: 10px;
    width: 100px;
    height: 100px;
}

#FlexCenter{
    justify-content: center;
    align-items: center;
}

#FlexForceRowCenter{
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
}