.home-page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-container {
    margin-top: -100px;
    width: 700px;
    height: 400px;

    display: flex;
    flex-direction: row;

    backdrop-filter: blur(25px);
    background-color: rgba(10, 10, 10, 0.8);

    object-fit: cover;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;

        margin-top: -20%;
        width: 100%;
        height: 60%;

        object-fit: none;

    }
}

.card-description {
    height: 200px;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    overflow: hidden;
    justify-items: stretch;
    margin: 0;
    
    @media only screen and (max-width: 600px) {
    align-items: center;
    }
}

.roles {
    display: flex;
    align-items: center;
}

.headshot {
    margin-right: 40px;
    width: 250px;
    height: 250px;
    clip-path: circle();
    border: 2px solid;

    @media only screen and (max-width: 600px) {
    width: 200px;
    height: 200px;
    clip-path: circle(100px);
    margin-right: 0px;
    margin-bottom: 40px;

    }
}