@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url(../public/fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
  font-family: 'JetBrainsMono-Thin';
  src: url(../public/fonts/JetBrainsMono-Thin.ttf);
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url(../public/fonts/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: 'Savery';
  src: url(../public/fonts/Savery.ttf);
}

@font-face {
  font-family: 'Savery-Outline';
  src: url(../public/fonts/Savery-Outline.ttf);
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}