:root {
  --header-one-font: 'JetBrainsMono-Bold';
  --header-two-font: 'JetBrainsMono-Regular';
  --header-three-font: 'JetBrainsMono-Thin';
}

.pc{
    margin: 4px;
    padding: 0;

}

.hd1{
    font-family: var(--header-one-font);
    font-size: xx-large;
    color: white;
}

.he1{
    font-family: var(--header-one-font);
    font-size: xx-large;
    color: white;
}

.hd2
{
    font-family: var(--header-two-font);
    font-size: x-large;
    color: white;
}

.he2
{
    font-family: var(--header-two-font);
    font-size: x-large;
    color: white;
}

.hd3
{
    font-family: var(--header-three-font);
    font-size: large;
    color: white;
}

.he3
{
    font-family: var(--header-three-font);
    font-size: large;
    color: white;
}